/* @font-face { 
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff2") format("woff2");
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotbold.woff") format("woff");

}
*/

:root {
  --basic-dark: #000000;
  --basic-dark-10: rgba(0, 0, 0, 0.1);
  --basic-dark-20: rgba(0, 0, 0, 0.2);
  --basic-light: #FFFFFF;
  --basic-light-30: rgba(255, 255, 255, 0.3);

  /* grey colors */

  --basic-grey: #EEEEEE;

  --header-grey: #A6A6A6;

  --text: #283136;

  --text-footer: #444444;

  --button-form-hover: #DFDFDF;
  --button-form-click: #D5D5D5;

  --switcher-active: #C1C1C1;

  --pagin-stroke: #DBDBDB;

  --social: #E1E1E1;

  --field: #D7DCDE;
  --field-hover: #B4B9BB;

  --checkbox: #4D4D4D;

  --card-text: #666666;

  --sorter-arrow: #231F20;

  --toddler-dot: #ABABAB;
  --toddler-line-back: #D7DCDF;

  /* other colors */

  --toddler-line-front: #00CA74;

  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-click: #D7373B;
  --button-social: #E1E1E1;

  --accent2: #00CA74;
  --accent2-hover: #00BC6C;
  --accent2-click: #00AA62;

  --accent3: #EFC849;
  --accent3-hover: #EAB534;
  --accent3-click: #E5A722;

}

img {
  max-width: 100%;
  height: auto;
}

/* это нарушение доп критерия. */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text);
}

.main-header {
  background-color: var(--basic-grey);
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.7;
}

.main-logo:active {
     opacity: 0.3;
}

.main-nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--accent);
}

.main-nav a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

/* .main-nav-active {
  линия внизу
  color: var(--accent);
}*/

.nav-list {
  list-style: none;
  padding: 0;
}

/* .nav-basket { 
 навесить иконку 
}*/

*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .container 
      центровать */

/* убрать визуал кнопки, навесить кружки
.slider-stitcher button{
     width: 18px;
     height: 18px;
     background: --basic-light; 
     состояние покоя
}
.slider-stitcher button:active {
     width: 8px;
     height: 8px;
     border: 2px solid var(--switcher-active);
} добавляется сверху по клику 
*/

.advantage-list {
  list-style: none;
  padding: 0;
}

.advantage-slider {
  background-color: var(--basic-grey);
}

.advantage-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  var (--basic-dark);
}

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-light);
  background-color: var(--accent);
  border: none;
  border-radius: 3px;
}

/* кнопку позже сделать, возможно так, почитать
    display: block; или inline-block.
  и отступы, чтобы добиться width: 240px; height: 50px; 
  проблема с доп. навешиванием прозрачности не решается*/

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button:active {
  color: var(--basic-light-30);
  background-color: var(--accent-click);
  box-shadow: inset 0px 3px 0px var(--basic-dark-10);
}

.service-list {
  list-style: none;
  padding: 0;
}

.service-app-button {
  background-color: var(--accent2);
}

.service-pres-button {
  background-color: var(--accent3);
}

.service-app-button:hover,
.service-app-button:focus {
  background-color: var(--accent2-hover);
}

.service-pres-button:hover,
.service-pres-button:focus {
  background-color: var(--accent3-hover);
}

.service-app-button:active {
  background-color: var(--accent2-click);
}

.service-pres-button:active {
  background-color: var(--accent3-click);
}

.servise-item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

/* .service {}

  .service-list {}

  .service-item {}

  .service-item img {}

 .about {} */



.about-us-list {
  list-style: none;
  padding: 0;
}

.about-us h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-dark);
}


.about-us h4,
.about-progress h4 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text);
}


/* .about-us-list { 
буллитом линию + пробел, учесть расстояния внутри бокса до текста в Фигме
width: 25px;
height: 2px;
цвет линии: var(--accent); 
}
*/

.about-progress-list {
  list-style: none;
  padding: 0;
}

.about-progress {
  text-align: center;
}


/* центровать
.about-progress-list {
}*/

.about-progress-item {
  line-height: 18px;
  text-align: left;
}

.about-progresss-dig {
  font-size: 45px;
  line-height: 64px;
  font-weight: 500;
  color: var(--basic-dark);
}


/*.partners {}
  
.partners-item {}
 */

.partners-list {
  list-style: none;
  padding: 0;
}

.partners-list a {
  text-decoration: none;
}

.partners-list img {
  opacity: 0.2;
}

.partners-list img:hover,
.partners-list img:focus {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}
/* не срабатывает */

/* .main-footer {}
.location {}
.map {}
.map-marker {}
 */

.contacts {
  color: var(--card-text);
  background-color: var(--basic-light);
  font-style: normal;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.contacts-text {
  line-height: 18px;
}

.contacts-tel {
  color: inherit;
  text-decoration: none;
}


.social-list {
  list-style: none;
  padding: 0;
}

.social-item a {
  text-decoration: none;
  color: var(--social);
}

/*  убрать названия и повесить иконки */

.social-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: var(--basic-dark);
}

.social-text {
  line-height: 22px;
  color: var(--text-footer);
}
