/* @font-face { 
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff2") format("woff2");
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotbold.woff") format("woff");

}
*/

:root {
  --basic-dark: #000000;
  --basic-dark-0001: rgba(0, 0, 0, 0.0001);
  --basic-dark-10: rgba(0, 0, 0, 0.1);
  --basic-dark-20: rgba(0, 0, 0, 0.2);
  --basic-dark-25: rgba(0, 0, 0, 0.25);
  --basic-dark-30: rgba(0, 0, 0, 0.3);
  --basic-light: #FFFFFF;
  --basic-light-30: rgba(255, 255, 255, 0.3);

  /* grey colors */

  --basic-grey: #EEEEEE;

  --text: #283136;

  --text-footer: #444444;

  --arrange-button-hover: #A6A6A6;

  --button-soft-hover: #DFDFDF;
  --button-soft-click: #D5D5D5;

  --switcher-active: #C1C1C1;

  --pagin-stroke: #DBDBDB;

  --social: #E1E1E1;

  --field: #D7DCDE;
  --field-hover: #B4B9BB;

  --checkbox: #4D4D4D;

  --card-text: #666666;

  --sorter-arrange: #231F20;

  --toddler-dot: #ABABAB;
  --toddler-line-back: #D7DCDF;

  /* other colors */

  --toddler-line-front: #00CA74;

  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-click: #D7373B;

  --accent-app: #00CA74;
  --accent-app-hover: #00BC6C;
  --accent-app-click: #00AA62;

  --accent-pres: #EFC849;
  --accent-pres-hover: #EAB534;
  --accent-pres-click: #E5A722;

}

/* index */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.bar {
  background-color: var(--basic-grey);
}

.main-header {
  padding-top: 49px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav {
  /* display: grid;
  grid-template-columns: max-content 1fr max-content; */
  display: flex;
  justify-content: space-between;

  /* outline: 5px solid rgba(76, 0, 255, 0.7);
  outline-offset: -5px; */
}

.main-nav .main-logo {
  line-height: 10px;

  /* outline: 5px solid rgba(255, 17, 0, 0.7);
  outline-offset: -5px; */
}

.main-logo:hover {
  opacity: 0.7;
}

.main-logo:active {
  opacity: 0.3;
}

.main-nav a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.main-nav a:hover {
  color: var(--accent);
}

.main-nav a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

/* 
.nav-item-current {
  +линия внизу
  color: var(--acce nt);
  1. сделать некликабельной - НЕ как ссылку-  
  тогда продублировать на этот класс класс ссылки.
  2. ИЛИ кликабельной. но все состояния этого класса сделать = состоянию покоя
  и ссылаться на саму себя
  проверить, перекроет этот класс класс .main-nav a, будучи ссылкой?
}*/

.site-nav-list {
  list-style: none;
  width: 437px;
  margin: 0 44px 0 0;
  padding: 26px 0 0 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
    padding: 26px 246px 0 202px;
 */


  /* outline: 5px solid rgba(9, 255, 0, 0.7);
  outline-offset: -5px; */
}

.site-nav-list li {
  /* outline: 5px solid rgba(0, 195, 255, 0.7);
  outline-offset: -5px; */

  padding: 0;
  margin: 0;
}

.user-nav {
  maх-width: 115px;
  position: relative;

  /* узнать при переполнении чтоб не сломалось, что делать */

  /* outline: 5px solid rgba(0, 195, 255, 0.7);
  outline-offset: -5px; */

  padding-top: 26px;
  padding-left: 40px;
}

.nav-basket::before {

  /* outline: 5px solid rgba(0, 195, 255, 0.7);
  outline-offset: -5px; */

  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("..//img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav-basket:hover::before,
.nav-basket:active::before {
  opacity: 1;
}

/* иконка по ховеру становится прозрачность как и вся ссылка. 
а по стайлгайду не должна. так не получается - специфичность мешает что ли??*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider {
  padding-top: 78px;
  padding-bottom: 80px;
  position: relative;


  /* outline: 5px solid rgba(255, 0, 64, 0.7); */
  outline-offset: -5px;
}

.slider-control {
  position: absolute;
  left: 50%;
  margin-left: -44px;
  bottom: 96px;
  z-index: 20;

  /* outline: 5px solid rgba(212, 0, 255, 0.7);
  outline-offset: -5px; */

  width: 88px;
  display: flex;
  justify-content: space-between;
}

.slider-control button {
  padding: 0;
  width: 18px;
  height: 18px;
  background: var(--basic-light);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

 .control-button-current,
 .control-button:hover,
 .control-button:active  {
  box-shadow: inset 0 0 0 5px var(--basic-light), inset 0 0 0 7px var(--switcher-active);
}

.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.slide-list h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark);
  margin: 0 0 25px 0;
  padding-right: 645px;

}

.slide-list p {
  margin-bottom: 38px;
  padding-right: 745px;
}

/* тут попытка уницировать для контент-менеджеров, кмк, тщетна.
текст ложится на картинку. если тольуо допустить это в перспективе. 
или строго по колонкам поделить - текст-картинка */

.slide-none {
  display: none;
}

.slide-current {
  display: block;
}

.slide-1::after,
.slide-2::after,
.slide-3::after {
  position: absolute;
  content: "";
  width: 760px;
  height: 431px;
  right: 22px;
  bottom: 0;

  /* outline: 5px solid rgba(0, 195, 255, 0.7);
  outline-offset: -5px; */

  background-image: url("..//img/advantage-slide1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-2::after {
  background-image: url("..//img/advantage-slide2.png");
}

.slide-3::after {
  background-image: url("..//img/advantage-slide3.png");
}

.button {
  display: inline-block;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-light);
  background-color: var(--accent);
  border: none;
  border-radius: 3px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 54px;
  padding-right: 54px;
}

.button:hover {
  background-color: var(--accent-hover);
}

.button:active {
  color: var(--basic-light-30);
  background-color: var(--accent-click);
  box-shadow: inset 0px 3px 0px var(--basic-dark-10);
}

.service {
  position: relative;
  padding-top: 80px;
  padding-bottom: 82px;
  /* 80 нижний отступ +2 толщина линии */

  /* border-bottom: 2px solid var(--basic-grey); */
  /* как забрать по краям?? тогда бы получилось просто
  как дать паддинги именно линии, а не ее блоку?*/

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.service::after,
.about::after,
.partners::after {
  position: absolute;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: var(--basic-grey);
  bottom: 0;
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.partners::after {
  bottom: 80px;

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.service-list {
  list-style: none;
  padding: 0 60px 0 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.service-list img {
  margin-bottom: 19px;
}

/* вообще отступ 25px! но img хоть и блочный, но дает что-то типа итерлиньяжав что ли в блоке li - ПОЧЕМУ??
если его убрать 30px (инт-ж h3) - 24px (кг h3) = 19 px, то ПП встает на место */


.service-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  margin: 0 0 16px 0;
}

.service-list p {
  margin-bottom: 32px;
}

.service-list .button {
  padding-left: 40px;
  padding-right: 40px;
}

.service-app-button {
  background-color: var(--accent-app);
}

.service-pres-button {
  background-color: var(--accent-pres);
}

.service-app-button:hover {
  background-color: var(--accent-app-hover);
}

.service-pres-button:hover {
  background-color: var(--accent-pres-hover);
}

.service-app-button:active {
  background-color: var(--accent-app-click);
}

.service-pres-button:active {
  background-color: var(--accent-pres-click);
}

.about {
  position: relative;
  display: flex;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; */

  padding-top: 39px;
  padding-bottom: 77px;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */
}


.about-us {
  /* grid-column: 1 / 3; */

  width: 660px;

  /* outline: 5px solid rgba(255, 230, 0, 0.7);
  outline-offset: -5px; */

}

.about-us h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark);
  margin-top: 34px;
  margin-bottom: 32px;
}

.about-us p {
  margin-bottom: 40px;
}

.about-us h4 {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 21px;
  ;
}

.about-us-list {
  list-style: none;
  padding: 0 0 0 37px;
  margin: 0;
}

.about-us-list li {
  position: relative;
}

.about-us-list li:not(:last-child) {
  margin-bottom: 23px;
}


.about-us-list li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: rgba(255, 17, 0, 0.7);
  background-position: 50% 0;
  background-repeat: no-repeat;
  left: -37px;
  top: 10px;
}

.about-progress {
  /* grid-column: 3 / 4; */
  text-align: center;
}


.about-progress img {
  margin-bottom: 29px;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */
}


.about-progress h4 {
  font-weight: 700;
  /* без font-weight тот же вид - почему? болдовые стили по умолчанию для заголовков совпали? */
  text-transform: uppercase;
  color: var(--basic-dark);
  margin: 0 0 31px 0;
}

.about-progress-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* display: flex;
  width: 360px;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* ширина блоков разная флексами получится дольше ровнять колонки, 
  гридами проще - там сразу равные три колонки */

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.about-progress-item {
  text-align: left;
  margin: 0;
  padding: 0;

  /* outline: 5px solid rgba(34, 0, 255, 0.7);
  outline-offset: -5px; */

}

.about-progress-item p {
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.about-progress-item .about-progress-dig {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-dark);
  margin-bottom: 10px;
}

/* без 1-го селетора слетают отстпуы - понять, почему */

.about-progress-dig sup {
  font-size: 0.6em;
  /* vertical-align: -6px; */
}

.partners {
  position: relative;

  padding-top: 46px;
  padding-bottom: 126px;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */
}

.partners-list {

  list-style: none;
  line-height: 5px;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 281px 300px 300px 281px;
  text-align: center;
  align-items: center;

  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */

}

.partners-list a {
  text-decoration: none;
}

.partners-list li {
  position: relative;

  /* outline: 5px solid rgba(255, 0, 183, 0.7);
  outline-offset: -5px; */
}

.partners-list li:first-child {
  text-align: left;
  padding-left: 32px;
  padding-top: 10px;
}

.partners-list li:last-child {
  text-align: right;
  padding-right: 42px;
}

.partners-list li:not(:last-child)::after {
  /* border-right: 2px solid var(--basic-grey); */
  /* можно ли делать отступы у линии? был бы вариант */
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  right: 0;
  top: 50%;
  margin-top: -26px;

}


.partners-list img {
  opacity: 0.2;
}

.partners-list img:hover {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

.main-footer {
  padding: 0 0 76px 0;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */
}

/* .location {
} */

.map-position {
  position: relative;
  height: 416px;
}

/* как они должна себя всети без ИА и с ИА?? */
/* кмк карта не должна увеличиваться (тогда и элементы тоже), а должен появляться серый фон по краям, 
и все эемеенты на ней оставаться на своих месатх. */

.map {
  position: absolute;
  min-width: 1440px;
  top: 0;
  left: 50%;
  margin-left: -720px;
}

.map-marker {
  position: absolute;
  width: 231px;
  height: 190px;
  top: 86px;
  left: 702px;

  /* outline: 5px solid rgba(255, 0, 64, 0.7);
  outline-offset: -5px; */
}

.contacts {
  position: absolute;
  top: 54px;
  left: 20px;

  width: 319px;
  height: 308px;
  padding: 49px 39px 47px 50px;
  margin: 0;

  color: var(--card-text);
  background-color: var(--basic-light);
  font-style: normal;
  text-align: left;
}

.contacts p {
  margin: 0;
}

.contacts .contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-dark);
  margin-bottom: 23px;
}

.contacts .contacts-text {
  line-height: 18px;
  margin-bottom: 14px;

}

.contacts-tel {
  display: inline-block;
  color: inherit;
  line-height: 18px;
  text-decoration: none;
  margin-bottom: 37px;
}

.button-contacts {
  padding-left: 44px;
  padding-right: 44px;
}

.social {
  padding-top: 75px;

  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 140px;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */
}


.social-icons {
  grid-column: 1 / 2;
}

.social-slogan {
  grid-column: 2 / -1;
}

.social-slogan h3 {
  margin: 0;
  padding: 0;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: -7px 0 0 0;

  /* outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px; */

  /* display: grid;
  grid-template-columns: auto auto auto; */

  display: flex;
  width: 261px;
  justify-content: space-between;
}

.social-item a {
  text-decoration: none;
  display: inline-block;
}

.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--social);
}

.social-button img:active {
  opacity: 0.3
}

.social-slogan h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-dark);
  margin: 0 0 10px 0;
}

.social-slogan p {
  line-height: 22px;
  color: var(--text-footer);
  margin: 0;
}

/* catalog */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-dark);
  background-color: var(--basic-grey);

  padding: 78px 0 108px 0;
  margin: 0 auto;
}

.catalog {
  padding-top: 55px;
  padding-bottom: 60px;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
}

.catalog-filter {
  grid-row: 1 / -1;
  grid-column: 1/ 2;
}

/* .catalog-filter fieldset{} */

.catalog-filter fieldset,
.catalog-sorter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field-of-toddler input,
.field-of-toddler input:hover,
.field-of-toddler input:active {
  background-color: var(--basic-grey);
  border: none;
  outline: none;
  margin: 0;
  box-shadow: inset 0px;
}

.field-of-toddler label {
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-filter legend,
.catalog-sorter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.catalog-filter label {
  line-height: 20px;
}

.radiobutton input {
  color: var(--checkbox);
  opacity: 0.4;
}

.radiobutton input:hover,
.radiobutton input:active {
  opacity: 1;
}

.radiobutton input:disabled {
  opacity: 0.1;
}

.checkbox input {
  color: var(--checkbox);
  opacity: 0.4;
}

/* отбивка между иконкой и текстом - отступом, пробелом? */

/* РАЗОБРАТЬСЯ ПОТОМ: у чекбоксов другие состояния: клик = [выбор;снятие выбора]  c checked
в 2 раза больше? с галкой все состо\яния и без галочки все состояния? обдумать
.checkbox input:hover,
.checkbox input:active

.checkbox input:checked
.checkbox input:disabled - эти два состояния присваиваются js?
*/


.catalog-filter ul,
.catalog-sorter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-soft {
  background-color: var(--basic-grey);
  color: var(--basic-dark);
}

.button-soft:hover {
  background-color: var(--button-soft-hover);
  color: var(--basic-dark);
}

.button-soft:active {
  background-color: var(--button-soft-click);
  color: var(--basic-dark-30);
}


.catalog-sorter {
  grid-row: 1 / 2;
  grid-column: 2 / -1;

  margin: 0 0 48px 0;
}



.sorter-type-list button {
  /* убрать вид кнопки */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-dark);
  opacity: 0.3;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
}

.sorter-type-list button:hover {
  opacity: 0.6;
}

.sorter-type-list button:active {
  opacity: 1;
}


/* cостояние активного пункта=active? 
если нет и псевдокласса нет,
надо класс? тогда вложенность будет тройной, 
надо делать отдельный класс на эту кнопку.
как это состояние будет присвоено? */

.sorter-arrange-list button {
  color: var(--sorter-arrange);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
}

.sorter-arrange-list button:hover {
  color: var(--arrange-button-hover);
}

.sorter-arrange-list button:active,
.sorter-arrange-list .current {
  color: var(--arrange-button-hover);
  opacity: 0.2;
}

/*форма треугольника, свг-картинки */
/* cостояние пункта .current такое же как :active */

.product-card {
  grid-row: 2 / -1;
  grid-column: 2 / -1;

  outline: 5px solid rgba(76, 0, 255, 0.7);
  outline-offset: -5px;
}

.product-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 31px;
  list-style: none;
  padding: 0;
  margin: 0 0 55px 0;

  line-height: 0;

  outline: 5px solid rgba(0, 255, 34, 0.7);
  outline-offset: -5px;
}

.product-card-item {
  outline: 5px solid rgba(255, 0, 149, 0.7);
  outline-offset: -5px;
}

.product-card-item:hover {
  filter: drop-shadow(0px 6px 15px var(--basic-dark-25));
}

.product-card-item img {
  outline: 5px solid rgba(0, 238, 255, 0.7);
  outline-offset: -5px;
}

.product-card-top-spot {
  /* var(--checkbox); */
  opacity: 0.12;
}

.product-card-list img {
  background-color: var(--basic-grey);
}

/* для целостности карточки, если не загружается картинка */

.product-card-info {
  background-color: var(--basic-grey);
  text-align: center;

  padding: 26px 53px 44px 52px;
  margin: 0;

  outline: 5px solid rgba(21, 255, 0, 0.7);
  outline-offset: -5px;

  /* opacity: 0; */
  /*или visible: hidden */
}

/* .product-card-item:hover .product-card-top-spot,
.product-card-item:active .product-card-top-spot {
  opacity: 1;
}

.product-card-item:hover .product-card-info,
.product-card-item:active .product-card-info {
  opacity: 1;
}

видимо,это не работает, как хотелось бы 
(по наведению на  карту открывается информация,
открывается тлько по наведению на информацию)
 */

.product-card-info h3 {
  padding: 0;
  margin: 0;
}

.product-card-info a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.product-card-info a:hover {
  color: var(--accent);
}

.product-card-info a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.product-card-info p {
  line-height: 18px;
  color: var(--card-text);
}

/* .product-card-info button {} - 
ширина здесь будет постоянна, независимо от длинны текста
width: 200px;height: 50px;*/

.catalog-pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;

  outline: 5px solid rgba(145, 255, 0, 0.7);
  outline-offset: -5px;
}

.catalog-pagination-list a {
  list-style: none;
  text-decoration: none;
}

/* .catalog-pagination-list .button-soft { 
 остступы другие, ширина кнопки:
  width: 260px; height: 50px;}
*/

/* button-pag {
 размеры фиксированные width: 50px; height: 50px;
} */

.catalog-pagination-list .current {
  background-color: var(--basic-light);
  color: var(--basic-dark);
  border: 3px solid var(--pagin-stroke);
}
