/* @font-face { 
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff2") format("woff2");
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face { 
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotbold.woff") format("woff");

}
*/

:root {
  --basic-dark: #000000;
  --basic-dark-0001: rgba(0, 0, 0, 0.0001);
  --basic-dark-10: rgba(0, 0, 0, 0.1);
  --basic-dark-20: rgba(0, 0, 0, 0.2);
  --basic-dark-30: rgba(0, 0, 0, 0.3);
  --basic-light: #FFFFFF;
  --basic-light-30: rgba(255, 255, 255, 0.3);

  /* grey colors */

  --basic-grey: #EEEEEE;

  --text: #283136;

  --text-footer: #444444;

  --arrange-button-hover: #A6A6A6;

  --button-soft-hover: #DFDFDF;
  --button-soft-click: #D5D5D5;

  --stitcher-active: #C1C1C1;

  --pagin-stroke: #DBDBDB;

  --social: #E1E1E1;

  --field: #D7DCDE;
  --field-hover: #B4B9BB;

  --checkbox: #4D4D4D;

  --card-text: #666666;

  --sorter-arrange: #231F20;

  --toddler-dot: #ABABAB;
  --toddler-line-back: #D7DCDF;

  /* other colors */

  --toddler-line-front: #00CA74;

  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-click: #D7373B;

  --accent-app: #00CA74;
  --accent-app-hover: #00BC6C;
  --accent-app-click: #00AA62;

  --accent-pres: #EFC849;
  --accent-pres-hover: #EAB534;
  --accent-pres-click: #E5A722;

}

/* index */


.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text);
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey);
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.7;
}

.main-logo:active {
  opacity: 0.3;
}

.main-nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--accent);
}

.main-nav a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

/* .nav-item-current {
  линия внизу
  color: var(--accent);
  сделать некликабельной - НЕ как ссылку? 
  тогда продублировать на этот класс класс ссылки.
  ИЛИ кликабельной. но все состояния этого класса сделать = состоянию покоя
  и ссылаться на саму себя
  перекроет этот класс класс .main-nav a, будучи ссылкой?
}*/

.nav-list {
  list-style: none;
  padding: 0;
}

/* .nav-basket { 
 навесить иконку 
}*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .container 
      центровать */

/* убрать визуал кнопки, навесить кружки
.slider-stitcher button{
     width: 18px;
     height: 18px;
     background: --basic-light; 
     состояние покоя
}
.slider-stitcher button:active {
     width: 8px;
     height: 8px;
     border: 2px solid var(--switcher-active);
} добавляется сверху по клику 
*/


.advantage-list {
  list-style: none;
  padding: 0;
}

.advantage-slider {
  background-color: var(--basic-grey);
}

.advantage-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var (--basic-dark);
}

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-light);
  background-color: var(--accent);
  border: none;
  border-radius: 3px;
}

/* кнопку позже сделать, возможно так, почитать
    display: block; или inline-block.
  и отступы, чтобы добиться width: 240px; height: 50px; 
  проблема с доп. навешиванием прозрачности не решается*/

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button:active {
  color: var(--basic-light-30);
  background-color: var(--accent-click);
  box-shadow: inset 0px 3px 0px var(--basic-dark-10);
}

.service-list {
  list-style: none;
  padding: 0;
}

.service-app-button {
  background-color: var(--accent-app);
}

.service-pres-button {
  background-color: var(--accent-pres);
}

.service-app-button:hover,
.service-app-button:focus {
  background-color: var(--accent-app-hover);
}

.service-pres-button:hover,
.service-pres-button:focus {
  background-color: var(--accent-pres-hover);
}

.service-app-button:active {
  background-color: var(--accent-app-click);
}

.service-pres-button:active {
  background-color: var(--accent-pres-click);
}

.service-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

/* .service {}

  .service-list {}

  .service-item {}

  .service-item img {}

 .about {} */



.about-us-list {
  list-style: none;
  padding: 0;
}

.about-us h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark);
}


.about h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-progress h4 {
  color: var(--basic-dark);
}


/* .about-us-list { 
буллитом линию + пробел, учесть расстояния внутри бокса до текста в Фигме
width: 25px;
height: 2px;
цвет линии: var(--accent); 
}
*/

.about-progress-list {
  list-style: none;
  padding: 0;
}

.about-progress {
  text-align: center;
}


/* центровать
.about-progress-list {
}*/

.about-progress-item {
  line-height: 18px;
  text-align: left;
}

.about-progresss-dig {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-dark);
}


/*.partners {}
  
.partners-item {}
 */

.partners-list {
  list-style: none;
  padding: 0;
}

.partners-list a {
  text-decoration: none;
}

.partners-list img {
  opacity: 0.2;
}

.partners-list img:hover,
.partners-list img:focus {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

/* .main-footer {}
.location {}
.map {}
.map-marker {}
 */

.contacts {
  color: var(--card-text);
  background-color: var(--basic-light);
  font-style: normal;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.contacts-text {
  line-height: 18px;
}

.contacts-tel {
  color: inherit;
  text-decoration: none;
}


.social-list {
  list-style: none;
  padding: 0;
}

.social-item a {
  text-decoration: none;
  color: var(--social);
}

/* .social-item a:hover,
.social-item a:focus
.social-item a:active
= состояниям акцентной кнопки. иконики=текст + фон*/
/*  убрать названия и повесить иконки */

.social-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-dark);
}

.social-text {
  line-height: 22px;
  color: var(--text-footer);
}


/* catalog */

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var (--basic-dark);
  background-color: var(--basic-grey);
}

/* .catalog-form {} */
/* .catalog-form fieldset{} */

.catalog-form fieldset,
.catalog-sorter fieldset {
  border: none;
  margin: none;
  padding: none;
}

.field-of-toddler input,
.field-of-toddler input:hover,
.field-of-toddler input:focus,
.field-of-toddler input:active {
  background-color: var(--basic-grey);
  border: none;
  outline: none;
  margin: none;
  box-shadow: inset 0px;
}

.field-of-toddler label {
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-form legend,
.catalog-sort legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.catalog-form label {
  line-height: 20px;
}

.radiobutton input {
  color: var(--checkbox);
  opacity: 0.4;
}

.radiobutton input:hover,
.radiobutton input:focus,
.radiobutton input:active {
  opacity: 1;
}

.radiobutton input:disabled {
  opacity: 0.1;
}

.checkbox input {
  color: var(--checkbox);
  opacity: 0.4;
}

/* отбивка между иконкой и текстом - отступом, пробелом? */

/* у чекбоксов другие состояния: клик = [выбор;снятие выбора] 
в 2 раза больше? с галокой все состо\яния и без галочки все состояния? обдумать
.checkbox input:hover,
.checkbox input:focus,
.checkbox input:active

.checkbox input:disabled
*/


.catalog-form ul,
.catalog-sorter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.button-soft {
  background-color: var(--basic-grey);
  color: var(--basic-dark);
}

.button-soft:hover,
.button-soft:focus {
  background-color: var(--button-soft-hover);
  color: var(--basic-dark);
}

.button-soft:active {
  color: var(--basic-dark-30);
  background-color: var(--button-soft-click);
  color: var(--basic-dark-30);
}


.sorter-type-list button {
  /* убрать вид кнопки */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-dark);
  opacity: 0.3;
  background-color: transparent;
  border: none;
  outline: none;
  margin: none;
}

.sorter-type-list button:hover,
.sorter-type-list button:focus {
  opacity: 0.6;
}

.sorter-type-list button:active {
  opacity: 1;
}


/* cостояние активного пункта=active? 
если нет и псевдокласса нет,
надо класс? тогда вложенность будет тройной, 
надо делать отдельный класс на эту кнопку.
как это состояние будет присвоено? */

.sorter-arrange-list button {
  color: var(--sorter-arrange);
  background-color: transparent;
  border: none;
  outline: none;
  margin: none;
}

.sorter-arrange-list button:hover,
.sorter-arrange-list button:focus {
  color: var(--arrange-button-hover);
}

.sorter-arrange-list button:active {
  color: var(--arrange-button-hover);
  opacity: 0.2;
}

/*форма треугольника, свг-картинки */
/* cостояние активного пункта=active? */


.product-card-list {
  list-style: none;
}

/* .product-card-item */
/* .product-card-item img */


.product-card-top-spot {
  /* var(--checkbox); */
  opacity: 0.12;
}

.product-card-list img {
  background-color: var(--basic-grey);
}

/* для целостости карточки, если не загружается картинка */

.product-card-info {
  background-color: var(--basic-grey);
  text-align: center;
  /* opacity: 0; */
  /*или visible: hidden */
}

/* .product-card-item:hover .product-card-top-spot,
.product-card-item:focus .product-card-top-spot,
.product-card-item:active .product-card-top-spot {
  opacity: 1;
}

.product-card-item:hover .product-card-info,
.product-card-item:focus .product-card-info,
.product-card-item:active .product-card-info {
  opacity: 1;
}

видимо,это не работает, как хотелось бы 
(по наведению на  карту открывается информация,
открывается тлько по наведению на информацию)
 */

.product-card-info a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-dark);
}

.product-card-info a:hover,
.product-card-info a:focus {
  color: var(--accent);
}

.product-card-info a:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.product-card-info p {
  line-height: 18px;
  color: var(--card-text);
}

/* .product-card-info button {} - 
ширина здесь будет постоянна, независимо от длинны текста
width: 200px;height: 50px;*/

.catalog-pagination-list {
  list-style: none;
}

.catalog-pagination-list a {
  list-style: none;
  text-decoration: none;
}

/* .catalog-pagination-list .button-soft { 
 остступы другие, ширина кнопки:
  width: 260px; height: 50px;}
*/

/* .button-pag { 
 размеры фиксированные width: 50px; height: 50px;
}*/

.button-pag-current,
.button-pag-current:hover,
.button-pag-current:focus,
.button-pag-current:active {
  background-color: var(--basic-dark-0001);
  color: var(--basic-dark);
  border: 3px solid var(--pagin-stroke);
  box-shadow: none;
}
